.modal-content {
  background-color: #373737;
}

.modal-body {
  padding: 0;
  width: 480px;
  height: 240px;
  margin: 0 auto;
}

.modal-title,
.modal-question {
  font-size: 28px;
  color: #0d77bf;
  font-weight: 900;
  line-height: 34px;
  text-align: center;
}

.modal-question {
  font-size: 14px;
  line-height: 20px;
}

.modal-introduce {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 14px;
}

.modal-introduce-table {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
  width: 258px;
  margin: 0 auto;
}

.modal-introduce-table-row01 {
  line-height: 14px;
}

.modal-introduce-table-row02 {
  line-height: 14px;
  margin-left: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modal-chips-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.modal-chips-table {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.modal-chips-mir,
.modal-chips-plus {
  background: linear-gradient(180deg, #7ccbfc 0%, #045388 100%),
    linear-gradient(180deg, #045388 0%, #7ccbfc 100%), #0d77bf;
  color: white;
  border: none;
  width: 32px;
  height: 34px;
}

.modal-chips-chips {
  width: 148px;
  height: 34px;
  background: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  color: #045388;
  text-align: right;
  padding-top: 10px;
  padding-right: 5px;
  margin-bottom: 18px;
}

.modal-chips-menu-select {
  display: flex;
  justify-content: center;
}

.modal-chips-menu-select-btn {
  width: 200px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background: linear-gradient(180deg, #045388 0%, #7ccbfc 100%), #0d77bf;
  margin-right: 8px;
  margin-left: 8px;
  border: none;
}
