#control-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.control-button {
  width: 90px;
  height: 26px;
  background: linear-gradient(180deg, #7ccbfc 0%, #045388 100%),
    linear-gradient(180deg, #045388 0%, #7ccbfc 100%), #0d77bf;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  border: none;
  margin-left: 12px;
  font-family: "Lato", sans-serif;
}
