.card-area {
  position: absolute;
  width: 25rem;
  height: 8rem;
  top: calc(50% - 4rem);
  left: calc(50% - 12.5rem);
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 0;
  bottom: 0;
  align-items: center;
}

.card__middle {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card__middle .seat__card {
  width: 15%;
  margin: 5px;
}

.inner_card {
  width: 100%;
  height: 100%;
}

.card-area .total-pot {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
.seat__card {
  width: 5vw;
  overflow: hidden;
  height: 11vh;
}
img, svg {
  vertical-align: middle;
  width: 140%;
  height: 140%;
  overflow: hidden;
}
