.seat {
  width: 4rem;
  height: 5rem;
  /*border-radius: 4px;*/
  border: 1px solid #7ccbfc;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.seat__status {
  width: 100%;
  height: 0.8rem;
  text-align: center;
  font-size: .5rem;
  text-transform: uppercase;
}
.seat__avatar {
  width: 100%;
  height: calc(100% - 2rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
