.seat-player {
  position: absolute;
  width: 12em;
  height: 4em;
  border: 1px solid #000000;
  top: calc(50% - 2em);
  left: calc(50% - 5em);
}

.seat-player:nth-child(5) {
  transform: translateX(1em) translateY(10em);
}




.seat-player:nth-child(1) {
  transform: translateX(14.5em) translateY(-8em);
}

.seat-player:nth-child(2) {
  transform: translateX(22em) translateY(-2.5em);
}

.seat-player:nth-child(3) {
  transform: translateX(22em) translateY(2.5em);
}

.seat-player:nth-child(4) {
  transform: translateX(14.5em) translateY(8em);
}




.seat-player:nth-child(6) {
  transform: translateX(-14.5em) translateY(8em);
}

.seat-player:nth-child(7) {
  transform: translateX(-22em) translateY(2.5em);
}

.seat-player:nth-child(8) {
  transform: translateX(-22em) translateY(-2.5em);
}

.seat-player:nth-child(9) {
  transform: translateX(-14.5em) translateY(-8em);
}

.seat-player:nth-child(10) {
  transform: translateX(0) translateY(-10em);
}

.seat-player-img {
  background: #c4c4c4;
}

.seat-player-img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seat-player-content {
   background: linear-gradient( 180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100% ), #0d77bf;
   color: white;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
 }
.seat-player-content-title {
  font-size: 1.2rem;
  text-align: center;
  line-height: 14px;
  margin-bottom: 10px;
}

.seat-player-content-line {
  height: 0;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
}

.seat-player-content-money {
  font-size: 1.2rem;
  text-align: center;
  line-height: 12px;
  margin-top: 5px;
}

.empty-seat {
  display: none;
  border: none;
}

.empty-seat-btn {
  width: 100%;
  height: 100%;
}

.timer {
  position: absolute;
  width: 100%;
  height: 10%;
  background: linear-gradient(90deg, #A30A0A 0%, #FFEA2F 52.6%, #488E11 100%);
  bottom: 0;
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
