.seat-player {
  position: absolute;
  width: 20vw;
  height: 11vh;
  border: 1px solid #000000;
  top: 45%;
  left: 44.5%;
}

.seat-player:nth-child(5) {
  transform: translateX(-3vw) translateY(28vh);
}

.seat-player:nth-child(1) {
  transform: translateX(22vw) translateY(-29vh);
}

.seat-player:nth-child(2) {
  transform: translateX(32vw) translateY(-12vh);
}

.seat-player:nth-child(3) {
  transform: translateX(32vw) translateY(7vh);
}

.seat-player:nth-child(4) {
  transform: translateX(21vw) translateY(25vh);
}




.seat-player:nth-child(6) {
  transform: translateX(-30vw) translateY(25vh);
}

.seat-player:nth-child(7) {
  transform: translateX(-40vw) translateY(9vh);
}

.seat-player:nth-child(8) {
  transform: translateX(-40vw) translateY(-11vh);
}

.seat-player:nth-child(9) {
  transform: translateX(-30vw) translateY(-29vh);
}

.seat-player:nth-child(10) {
  transform: translateX(-4vw) translateY(-32vh);
}

.seat-player-img {
  background: #c4c4c4;
}

.seat-player-img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seat-player-content {
   background: linear-gradient( 180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100% ), #0d77bf;
   color: white;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
 }
.seat-player-content-title {
  font-size: 1.2rem;
  text-align: center;
  line-height: 14px;
  margin-bottom: 1vh;
}

.seat-player-content-line {
  height: 0;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
}

.seat-player-content-money {
  font-size: 1.2rem;
  text-align: center;
  line-height: 12px;
  margin-top: 5px;
  width: 150%;
}

.empty-seat {
  display: none;
  border: none;
}

.empty-seat-btn {
  color: white;
  background: #0D77BF;
  border: 1px solid #045388;
  width: 100%;
  height: 100%;
}
.select-seat-btn {
  color: #045388;
  background: #7CCBFC;
  border: 1px solid #0D77BF;
  width: 100%;
  height: 100%;
}
.seat-player .red-chips {
  position: absolute;
  width: 15%;
  height: 15%;
  bottom: 7%;
  right: -8%;
  display: inline-block;
}

.seat-player .red-chips img {
  width: 100%;
}

.seat-player .d-chip {
  position: absolute;
  bottom: -40%;
  left: 0;
  background: url(https://www.bflush.co.uk/engine/0.1/images/html5/dealer-chip.svg) left bottom no-repeat;
  width: 100%;
  height: 100%;
}

#prog-bar {
  width: 100%;
  height: 10%;
  overflow: hidden;
  background: transparent;
  position: absolute;
  bottom: 0;
}

#prog-bar #background {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(-90deg, #70dc23, yellow, orange, #ff1076);
  clip-path: inset(0 0 0 0);
  transition: clip-path;
}

.seat__card_container {
  position: absolute;
  top: -65%;
  right: -10%;
}

.seat__card_container .seat__card {
  width: 5vw;
}

.seat__card_container .seat__card .hightlight-card {
  box-shadow: 0px 0px 13px 5px #FFEA2F;
}

.seat__card_container .seat__card:nth-child(2) {
  transform: translateY(-60%) translateX(40%);
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
