.play-area__background {
  width: 100%;
  height: 100%;
  background: url("/assets/table-honey-comb.jpg") center center no-repeat;
  background-size: cover;
}
.play-area__table {
  width: 100%;
  height: 100%;
  background: url("/assets/table-logo.png") center center no-repeat;
  background-size: contain;
}
.raise-section {
  /* height: 2.5em; */
  transform: translateY(0.1em);
}
.raise-section .raise-button {
  height: 2.5em;
  width: 2.5em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(11, 10, 10, 0.7) 100%), #FFEA2F;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 12px;
}
.raise-section .raise-chips {
  height: 2.5em;
  background: white;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: #045388;
  text-align: center;
  margin-left: 12px;
  padding: 10px;
  width: 5.5em;
}
.control-area .raise-detail {
  position: absolute;
  background: #2c2f34;
  bottom: 6rem;
  width: 100%;
  height: 3rem;
  z-index: 9999999;
  padding: 10px;
}
.control-area .raise-detail .control-button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(11, 10, 10, 0.7) 100%), #FFEA2F;
  font-size: 1.2em;
  border: none;
  font-weight: bold;
  color: black;
  height: 1.5em;
  width: 7em;
}
