.play-area__background {
  width: 100%;
  height: 100%;
  background: url("/assets/table-honey-comb.jpg") center center no-repeat;
  background-size: cover;
}
.play-area__table {
  width: 100%;
  height: 100%;
  background: url("/assets/table-logo.png") center center no-repeat;
  background-size: contain;
}
