.play-area {
  width: 100%;
  height: calc(100% - 6rem);
  position: relative;
  background: #444351;
  overflow: hidden;
}

@media (min-width: 640px) {
  .play-area .seat:nth-of-type(1) { transform: rotate(-40deg) translate(11rem) rotate(40deg) }
  .play-area .seat:nth-of-type(2) { transform: rotate(-15deg) translate(15rem) rotate(15deg) }
  .play-area .seat:nth-of-type(3) { transform: rotate(10deg) translate(15rem) rotate(-10deg) }
  .play-area .seat:nth-of-type(4) { transform: rotate(35deg) translate(11rem) rotate(-35deg) }
  .play-area .seat:nth-of-type(5) { transform: rotate(90deg) translate(7rem) rotate(-90deg); }

  .play-area .seat:nth-of-type(6) { transform: rotate(145deg) translate(11rem) rotate(-145deg) }
  .play-area .seat:nth-of-type(7) { transform: rotate(170deg) translate(15rem) rotate(-170deg) }
  .play-area .seat:nth-of-type(8) { transform: rotate(195deg) translate(15rem) rotate(-195deg) }
  .play-area .seat:nth-of-type(9) { transform: rotate(220deg) translate(11rem) rotate(-220deg) }
  .play-area .seat:nth-of-type(10) { transform: rotate(-90deg) translate(7rem) rotate(90deg); }
}

@media (min-width: 768px) {
  .play-area .seat:nth-of-type(1) { transform: rotate(-40deg) translate(17rem) rotate(40deg) }
  .play-area .seat:nth-of-type(2) { transform: rotate(-15deg) translate(20rem) rotate(15deg) }
  .play-area .seat:nth-of-type(3) { transform: rotate(10deg) translate(20rem) rotate(-10deg) }
  .play-area .seat:nth-of-type(4) { transform: rotate(35deg) translate(17rem) rotate(-35deg) }
  .play-area .seat:nth-of-type(5) { transform: rotate(90deg) translate(12rem) rotate(-90deg); }

  .play-area .seat:nth-of-type(6) { transform: rotate(145deg) translate(17rem) rotate(-145deg) }
  .play-area .seat:nth-of-type(7) { transform: rotate(170deg) translate(20rem) rotate(-170deg) }
  .play-area .seat:nth-of-type(8) { transform: rotate(195deg) translate(20rem) rotate(-195deg) }
  .play-area .seat:nth-of-type(9) { transform: rotate(220deg) translate(17rem) rotate(-220deg) }
  .play-area .seat:nth-of-type(10) { transform: rotate(-90deg) translate(12rem) rotate(90deg); }
}

@media (min-width: 1024px) {
  .play-area .seat:nth-of-type(1) { transform: rotate(-40deg) translate(20rem) rotate(40deg) }
  .play-area .seat:nth-of-type(2) { transform: rotate(-15deg) translate(27rem) rotate(15deg) }
  .play-area .seat:nth-of-type(3) { transform: rotate(10deg) translate(27rem) rotate(-10deg) }
  .play-area .seat:nth-of-type(4) { transform: rotate(35deg) translate(20rem) rotate(-35deg) }
  .play-area .seat:nth-of-type(5) { transform: rotate(90deg) translate(15rem) rotate(-90deg); }

  .play-area .seat:nth-of-type(6) { transform: rotate(145deg) translate(20rem) rotate(-145deg) }
  .play-area .seat:nth-of-type(7) { transform: rotate(170deg) translate(27rem) rotate(-170deg) }
  .play-area .seat:nth-of-type(8) { transform: rotate(195deg) translate(27rem) rotate(-195deg) }
  .play-area .seat:nth-of-type(9) { transform: rotate(220deg) translate(20rem) rotate(-220deg) }
  .play-area .seat:nth-of-type(10) { transform: rotate(-90deg) translate(15rem) rotate(90deg); }
}

@media (min-width: 1280px) {
  .play-area .seat:nth-of-type(1) { transform: rotate(-40deg) translate(25rem) rotate(40deg) }
  .play-area .seat:nth-of-type(2) { transform: rotate(-15deg) translate(34rem) rotate(15deg) }
  .play-area .seat:nth-of-type(3) { transform: rotate(10deg) translate(34rem) rotate(-10deg) }
  .play-area .seat:nth-of-type(4) { transform: rotate(35deg) translate(25rem) rotate(-35deg) }
  .play-area .seat:nth-of-type(5) { transform: rotate(90deg) translate(17rem) rotate(-90deg); }

  .play-area .seat:nth-of-type(6) { transform: rotate(145deg) translate(25rem) rotate(-145deg) }
  .play-area .seat:nth-of-type(7) { transform: rotate(170deg) translate(34rem) rotate(-170deg) }
  .play-area .seat:nth-of-type(8) { transform: rotate(195deg) translate(34rem) rotate(-195deg) }
  .play-area .seat:nth-of-type(9) { transform: rotate(220deg) translate(25rem) rotate(-220deg) }
  .play-area .seat:nth-of-type(10) { transform: rotate(-90deg) translate(17rem) rotate(90deg); }
}

.play-area .seat { z-index: 100 }
