.play-area {
  width: 100%;
  height: calc(100% - 10rem);
  position: relative;
  background: #444351;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .game {
    width: 100vh !important;
    height: 100vw !important;
  }
}

.play-area .seat { z-index: 100 }
