.play-area {
  width: 100%;
  display: flex;
  flex-grow: 1;
  position: relative;
  background: #444351;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.play-area .seat { z-index: 5 }
