body {
  font-family: "Lato", sans-serif;
}

.game {
  width: 100vw;
  height: 100vh;
}
.game__header {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  background-color: #2D2F34;
  border-bottom: 1px solid #6f6f6f;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
