body {
  font-family: "Lato", sans-serif;
}

.game {
  width: 100vw;
  height: 100vh;
}
.game__header {
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  background-color: #2D2F34;
  border-bottom: 1px solid #6f6f6f;
}
.game .seat:nth-of-type(1) { top: 13px; left: 70px }
.game .seat:nth-of-type(2) { top: 4px; left: 219px }
.game .seat:nth-of-type(3) { top: 13px; right: 69px }
.game .seat:nth-of-type(4) { top: 67px; right: 4px }
.game .seat:nth-of-type(5) { top: 121px; right: 4px }
.game .seat:nth-of-type(6) { bottom: 13px; right: 68px }
.game .seat:nth-of-type(7) { bottom: 4px; right: 212px }
.game .seat:nth-of-type(8) { bottom: 13px; left: 70px }
.game .seat:nth-of-type(9) { top: 67px; left: 4px }
.game .seat:nth-of-type(10) { top: 121px; left: 4px }
.game .seat { z-index: 100 }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
