body {
  margin: 0;
  font-family: -apple-system,"Lato", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
}
.game__header {
  width: 100%;
  height: 9vh;
  margin: 0 auto;
  background-color: #2D2F34;
  border-bottom: 1px solid #6f6f6f;
}
.game__header .menu-button.close-button {
  background: linear-gradient(180deg, #7ccbfc 0%, #045388 100%), linear-gradient(180deg, #045388 0%, #7ccbfc 100%), #0d77bf;
  border: none;
  font-weight: bold;
}
.game__header .menu-button {
  border: 1.5px solid #7CCBFC;
  background: #2D2F34;
  color: white;
  padding: 1vh 3vw;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.game__header .spacer {
  flex-grow: 1;
}
.game__header .list-menu {
  position: absolute;
  left: 1vw;
  top: 2vh;
  z-index: 9;
}
.game__header .list-menu-section {
  max-width: 35vw;
  background: #363636;
  opacity: 0.84;
  border: 1px solid #045388;
  padding: 4vw 2vw 2vw 2vw;
  transition: opacity ease-in-out 0.5s;
  max-height: 75vh;
  overflow: scroll;
}
.game__header .list-menu hr{
  background: #045388;
}
.game__header .list-menu .menu-items {
  margin: 3vh 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 3vh;
}
.game__header .menu-section {
  color: white;
  font-style: italic;
  margin: 2vh 0;
}
.game__header .item-status {
  color: white;
  font-size: 3vh;
}
.game__header .update-status {
  margin-right: 1vw;
}

.game__header .menu-sitout-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.game__header .menu-back-button {
  background: linear-gradient(180deg, #FFF491 0%, #FFEA2F 100%);
  font-size: 1.3rem;
  margin-left: 25%;
  padding: 2px 35px;
  font-weight: bold;
}
.menu__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
