body {
  margin: 0;
  font-family: -apple-system,"Lato", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game {
  width: 100vw;
  height: 100vh;
}
.game__header {
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  background-color: #2D2F34;
  border-bottom: 1px solid #6f6f6f;
}
.game__header .menu-button.close-button {
  background: linear-gradient(180deg, #7ccbfc 0%, #045388 100%), linear-gradient(180deg, #045388 0%, #7ccbfc 100%), #0d77bf;
  border: none;
  font-weight: bold;
}
.game__header .menu-button {
  border: 1.5px solid #7CCBFC;
  background: #2D2F34;
  color: white;
  /* margin-top: 5px; */
  padding: 5px 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.game__header .spacer {
  flex-grow: 1;
}
.game__header .list-menu {
  position: absolute;
  left: 0.5rem;
  top: 0.8rem;
  z-index: 9;
}
.game__header .list-menu-section {
  max-width: 35vw;
  background: #363636;
  opacity: 0.84;
  border: 1px solid #045388;
  padding: 4vw 2vw 2vw 2vw;
  transition: opacity ease-in-out 0.5s;
}
.game__header .list-menu hr{
  background: #045388;
}
.game__header .list-menu .menu-items {
  margin: 25px 0;
}
.game__header .list-menu .menu-items span {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}
.game__header .menu-section {
  color: white;
  font-style: italic;
  margin-top: 25px;
}
.game__header .item-status {
  color: white;
}
.game__header .update-status {
  margin-right: 20px;
}

.game__header .menu-sitout-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.game__header .menu-back-button {
  background: linear-gradient(180deg, #FFF491 0%, #FFEA2F 100%);
  font-size: 1.3rem;
  margin-left: 25%;
  padding: 2px 35px;
  font-weight: bold;
}
.menu__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .control-area {
    height: 4rem;
  }
  .play-area {
    height: calc(100% - 8rem);
  }
  .control-area {
    height: 3rem;
  }
  .game__header {
    height: 3rem;
  }
  .game__header .list-menu {
    top: 0.3rem;
  }
  .play-area {
    height: calc(100% - 6rem);
  }
  .game__header .list-menu .menu-items span{
    font-size: 1.1rem;
  }
  .game__header .list-menu .menu-items {
    margin: 10px 0;
  }
  .seat-player {
    width: 20vw;
    height: 13vh;
  }

  .seat-player:nth-child(5) {
    transform: translateX(-3vw) translateY(25vh);
  }

  .seat-player:nth-child(1) {
    transform: translateX(22vw) translateY(-25vh);
  }

  .seat-player:nth-child(2) {
    transform: translateX(34vw) translateY(-8vh);
  }

  .seat-player:nth-child(3) {
    transform: translateX(32vw) translateY(8vh);
  }

  .seat-player:nth-child(4) {
    transform: translateX(21vw) translateY(25vh);
  }



  .seat-player:nth-child(6) {
    transform: translateX(-30vw) translateY(25vh);
  }

  .seat-player:nth-child(7) {
    transform: translateX(-40vw) translateY(9vh);
  }

  .seat-player:nth-child(8) {
    transform: translateX(-40vw) translateY(-8vh);
  }

  .seat-player:nth-child(9) {
    transform: translateX(-30vw) translateY(-25vh);
  }

  .seat-player:nth-child(10) {
    transform: translateX(-4vw) translateY(-25vh);
  }

  .control-button {
    width: 15vw;
    height: 8vh;
    font-size: 1rem;
  }

  .game__header .list-menu-section {
    max-width: 35vw;
    max-height: 90vh;
    padding: 11vh 2vh 2vh 2vh;
    overflow: scroll;
  }

  .seat-player-content-money {
    font-size: unset;
  }


  .control-area .raise-detail {
    bottom: 3rem;
  }
  .seat-player-content-title {
    font-size: 0.4rem;
    text-align: center;
  }

  .card__middle .seat__card {
    width: 6vw;
  }
  .game__header .menu-back-button {
    padding: 0 20px;
    font-size: 1.1rem;
    margin: 5px;
  }
  .select-seat-btn,.empty-seat-btn {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .game__header .list-menu .menu-items span{
    font-size: 1.1rem;
  }
  .game__header .list-menu .menu-items {
    margin: 10px 0;
  }
  .modal-backdrop {
    width: 100vh;
    height: 100vw;
  }
  .modal.show .modal-dialog {
    justify-content: center;
  }
  .modal-content {
    width: 80%;
  }
  .modal-dialog-centered::before {
    height: unset;
  }
  .control-area {
    height: 3rem;
  }
  .game__header {
    height: 3rem;
  }
  .game__header .list-menu {
    top: 0.3rem;
  }
  .play-area {
    height: calc(100% - 6rem);
  }
  .game {
    width: 100vh;
    height: 100vw;
  }

  .seat-player {
    width: 20vh;
    height: 13vw;
  }

  .seat-player:nth-child(5) {
    transform: translateX(-3vh) translateY(25vw);
  }

  .seat-player:nth-child(1) {
    transform: translateX(22vh) translateY(-25vw);
  }

  .seat-player:nth-child(2) {
    transform: translateX(34vh) translateY(-8vw);
  }

  .seat-player:nth-child(3) {
    transform: translateX(32vh) translateY(8vw);
  }

  .seat-player:nth-child(4) {
    transform: translateX(21vh) translateY(25vw);
  }



  .seat-player:nth-child(6) {
    transform: translateX(-30vh) translateY(25vw);
  }

  .seat-player:nth-child(7) {
    transform: translateX(-40vh) translateY(9vw);
  }

  .seat-player:nth-child(8) {
    transform: translateX(-40vh) translateY(-8vw);
  }

  .seat-player:nth-child(9) {
    transform: translateX(-30vh) translateY(-25vw);
  }

  .seat-player:nth-child(10) {
    transform: translateX(-4vh) translateY(-25vw);
  }

  .control-button {
    width: 15vh;
    height: 8vw;
    font-size: 1rem;
  }
  .game__header .list-menu-section {
    max-width: 35vh;
    max-height: 90vw;
    padding: 11vw 2vw 2vw 2vw;
    overflow: scroll;
  }

  .seat-player-content-money {
    font-size: unset;
  }


  .control-area .raise-detail {
    bottom: 3rem;
  }
  .seat-player-content-title {
    font-size: 0.4rem;
    text-align: center;
  }

  .card__middle .seat__card {
    width: 6vh;
  }
  .game__header .menu-back-button {
    padding: 0 20px;
    font-size: 1.1rem;
    margin: 5px;
  }
  .select-seat-btn,.empty-seat-btn {
    font-size: 0.8rem;
  }
}
